html, body {
	height: 100%;
	font-family: "Cabin", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Lora", serif;
}
h1 {
	font-size: 70px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
p {
	font-size: 16px;
	font-family: "Cabin", sans-serif;
	color: #000;
	font-weight: 200;
	line-height: 26px;
	margin: 0 0 15px 0;
}
img {
	max-width: 100%;
}
input:focus, select:focus, button:focus, textarea:focus {
	outline: none;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
	color: #000;
}
ul, ol {
	padding: 0;
	margin: 0;
}
/*---------------------
  Helper CSS
-----------------------*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.set-bg2 {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: url(../img/hero/bg.svg);
	background-position: top center;
}
.callus {
	text-align: right;
	color: black;
	padding: 30px;
}

@media only screen and (max-width: 900px) {
.callus {
	text-align: center;
	color: black;
	padding: 30px;
}
}
.logotop {
	text-align: left;
}
.logotop img {
	width: 50%;
	text-align: right;
}
.icon-box_two {
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
}
.icon-box_two img {
	width: 60px;
	padding: 10px;
}
.title {
	font-family: "Cabin", sans-serif;
	color: #000;
	font-weight: 400;
	font-size: 14px;
}
.prize_title {
	font-family: "Cabin", sans-serif;
	color: #000;
	font-weight: 400;
	font-size: 25px;
	font-style: italic;
}
td tr {
	font-family: "Cabin", sans-serif;
	color: #000;
	font-weight: 400;
	margin-bottom: 50px;
}
td {
	padding-bottom: 15px !important;
}
.section-title {
	text-align: center;
	margin-bottom: 22px;
}
.section-title span {
	font-size: 14px;
	color: #dfa974;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.section-title h2 {
	font-size: 44px;
	color: #19191a;
	line-height: 58px;
	margin-top: 10px;
}
.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
/*---------------------
  Contact Section
-----------------------*/

.contact-text h2 {
	font-size: 44px;
	color: #19191a;
	margin-bottom: 24px;
}
.contact-text p {
	color: #707079;
}
.contact-text table tbody tr td {
	font-size: 16px;
	color: #19191a;
	line-height: 36px;
	font-weight: 500;
}
.contact-text table tbody tr td.c-o {
	color: #707079;
	width: 75px;
}
.contact-form input {
	width: 100%;
	height: 50px;
	border-radius: 10px;
	border: 1px solid #e1e1e1;
	font-size: 16px;
	color: #2E2E2E;
	padding-left: 25px;
	margin-bottom: 28px;
}
.contact-form input::-webkit-input-placeholder {
 color: #aaaab3;
}
.contact-form input::-moz-placeholder {
 color: #aaaab3;
}
.contact-form input:-ms-input-placeholder {
 color: #aaaab3;
}
.contact-form input::-ms-input-placeholder {
 color: #aaaab3;
}
.contact-form input::placeholder {
 color: #999;
}
.contact-form textarea {
	width: 100%;
	height: 150px;
	border: 1px solid #e1e1e1;
	font-size: 16px;
	color: #aaaab3;
	padding-left: 25px;
	padding-top: 12px;
	margin-bottom: 33px;
	resize: none;
}
.contact-form textarea::-webkit-input-placeholder {
 color: #aaaab3;
}
.contact-form textarea::-moz-placeholder {
 color: #aaaab3;
}
.contact-form textarea:-ms-input-placeholder {
 color: #aaaab3;
}
.contact-form textarea::-ms-input-placeholder {
 color: #aaaab3;
}
.contact-form textarea::placeholder {
 color: #aaaab3;
}
.contact-form button {
	font-size: 13px;
	font-weight: 700;
	color: #ffffff;
	border-radius: 55px;
	letter-spacing: 2px;
	background: #ffb412;
	border: none;
	padding: 14px 60px 13px;
	display: inline-block;
}
.button {
	font-size: 13px;
	font-weight: 700;
	color: #ffffff;
	border-radius: 55px !important;
	letter-spacing: 2px;
	background: #ffb412;
	border: none;
	padding: 0 !important;
	display: inline-block;
}